@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Bungee&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Glitch&family=Young+Serif&display=swap');

* {
    color: #E2ECE9;
    font-family: "Amiri", serif;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0;
    line-height: 2;
}

::selection {
    background-color: #D4AF37;
    color: #0B1311;
}

body {
    background-color: #0B1311;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;


}

.box {

    background-color: #182421;
    width: 850px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 12px;
    border: 2px solid #D4AF37;
    border-radius: 8px;
    transition: all 300ms ease;

}



.credit {
    color: #D4AF37;
    justify-self: center;
}

h1 {
    color: #D4AF37;
}

p {

    font-size: 20px;
    text-align: center;
    margin-block: 12px;
    font-weight: 300;
}

.btn {
    width: 80px;
    height: 50px;
    font-size: 20px;
    color: #282007;
    background-color: #D4AF37;
    border: 0px transparent;
    border-radius: 12px;
    transition: all 250ms ease-in-out;
}

.btn:hover {
    background-color: #1a1504;
    color: #eec337;
    text-shadow: 0px 1px 10px #D4AF37;
}